// Auto genetated file
[
{
"name" : "main - x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "x86_32" ,
"main" : "main" 
}
,
{
"name" : "main - x86_64" ,
"files" : "all" ,
"cpp-extra-args" : "-DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "x86_64" ,
"main" : "main" 
}
,
{
"name" : "main - x86_16" ,
"files" : "all" ,
"cpp-extra-args" : "-DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "x86_16" ,
"main" : "main" 
}
]
