// Auto genetated file
[
{
"name" : "main - sparc_64" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "sparc_64" ,
"main" : "main"
}
,
{
"name" : "main - x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "x86_32" ,
"main" : "main"
}
]
