// Auto genetated file
[
{
"name" : "main - sparc_64" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "sparc_64" ,
"main" : "main" 
}
,
{
"name" : "main - sparc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "sparc_32" ,
"main" : "main" 
}
,
{
"name" : "main - x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "x86_32" ,
"main" : "main" 
}
,
{
"name" : "main - x86_64" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "x86_64" ,
"main" : "main" 
}
,
{
"name" : "main - x86_16" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "x86_16" ,
"main" : "main" 
}
,
{
"name" : "main - armeb_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "armeb_eabi" ,
"main" : "main" 
}
,
{
"name" : "main - arm_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "arm_eabi" ,
"main" : "main" 
}
,
{
"name" : "main - aarch64" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "aarch64" ,
"main" : "main" 
}
,
{
"name" : "main - aarch64eb" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "aarch64eb" ,
"main" : "main" 
}
,
{
"name" : "main - rv64ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "rv64ifdq" ,
"main" : "main" 
}
,
{
"name" : "main - rv32ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "rv32ifdq" ,
"main" : "main" 
}
,
{
"name" : "main - mips_o32" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "mips_o32" ,
"main" : "main" 
}
,
{
"name" : "main - mips_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "mips_n32" ,
"main" : "main" 
}
,
{
"name" : "main - mips_64" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "mips_64" ,
"main" : "main" 
}
,
{
"name" : "main - mipsel_64" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "mipsel_64" ,
"main" : "main" 
}
,
{
"name" : "main - mipsel_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "mipsel_n32" ,
"main" : "main" 
}
,
{
"name" : "main - apple_ppc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-DSECP256K1_BIG_ENDIAN -DUSE_FORCE_WIDEMUL_INT64 -I. " ,
"machdep" : "apple_ppc_32" ,
"main" : "main" 
}
]
